<h1>About</h1>

<div class="row">
  <div class="col-md-8">
    <p>Bloccit is a great place to post, vote on, share and save links and comments. This is just the beginning so stay tuned for more!</p>
  </div>
</div>
